<!DOCTYPE html>
<html>
<head>
    <title>District Data for {{ district_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>District Information for {{ district_name }} </h1>
    <h2>CRT status: {{ state_crt }}
    <div id="map">{{ plotly_html|safe }}</div>
    <table border="1">
        <thead>
            <tr>
                <th>District</th>
                <th>Proficiency</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in schools_data.iterrows() %}
            <tr>
                <td>{{ row['NAME'] }}</td>
                <td>{{ row['Average Assessment Proficiency'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p>For entries that say "nan", there is no data on their proficiency. Proficiency is measured based on the percent of students that reach a desired score on state testing. </p>

    <div id="map">{{ plotly_html|safe }}</div>
</body>
</html>
